@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.logo {
  text-decoration: none;
  color: #ffc533;
  font-family: "Lobster";
  font-size: 1.4rem;
  font-weight: 400; }

.navbar .nav-links,
.main .sign-in {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  font-family: "Lobster"; }

.nav-glass {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 2.8rem 12%;
  transition: all 0.5s ease; }

.navbar {
  margin-top: 1rem;
  margin-left: 6rem;
  gap: 2.4rem;
  list-style: none; }

.main {
  display: flex;
  gap: 2.4rem; }

.main i {
  color: #ffc533;
  font-size: 1.5rem;
  margin-right: 3px; }

.navbar a,
.main a {
  transition: all 0.3s ease; }

.navbar a:hover,
.main a:hover {
  color: #ffc533;
  text-decoration: underline; }

.navbar a:active,
.main a:active {
  color: #ffc533; }

@media (max-width: 1280px) {
  .nav-glass {
    padding: 14px 2%;
    transition: 0.2s; }

  .navbar a {
    padding: 5px 0;
    margin: 0px 20px; } }
@media (max-width: 1090px) {
  .logo {
    margin-top: 1.25rem; }

  .hamburger {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative; }

  .hamburger span {
    margin-top: 0.5rem;
    height: 5px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease; }

  .hamburger span:nth-child(1) {
    top: 25%; }

  .hamburger span:nth-child(3) {
    top: 75%; }

  .hamburger.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg); }

  .hamburger.active span:nth-child(2) {
    opacity: 0; }

  .hamburger.active span:nth-child(3) {
    top: 42%;
    transform: translate(-50%, 50%) rotate(-45deg); }

  .main a {
    margin-top: 1.1rem; }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 32vh;
    background: #222327;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 1rem;
    transition: all 0.5s ease;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); }

  .navbar a {
    display: block;
    margin: 8px 0;
    padding: 0 12px;
    transition: all 0.5s ease;
    text-align: left;
    margin-right: 14rem; }

  .navbar.active {
    right: 2%; } }
.about-section {
  display: flex;
  justify-content: center;
  align-items: center; }

.section-heading {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Lobster" cursive;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem; }

.section-description {
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem; }

.section-button a,
.contact-button,
.login-button {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 10px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in; }

.section-button a:hover,
.contact-button:hover,
.contact-button:link,
.login-button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #ffc533; }

.form-w {
  max-width: 600px;
  width: 100%; }

@media (max-width: 1280px) {
  .nav-glass {
    padding: 14px 2%;
    transition: 0.2s; }

  .navbar a {
    padding: 5px 0;
    margin: 0px 20px; } }
@media (max-width: 1090px) {
  .logo {
    margin-top: 1.25rem; }

  .hamburger {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative; }

  .hamburger span {
    margin-top: 0.5rem;
    height: 5px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease; }

  .hamburger span:nth-child(1) {
    top: 25%; }

  .hamburger span:nth-child(3) {
    top: 75%; }

  .hamburger.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg); }

  .hamburger.active span:nth-child(2) {
    opacity: 0; }

  .hamburger.active span:nth-child(3) {
    top: 42%;
    transform: translate(-50%, 50%) rotate(-45deg); }

  .main a {
    margin-top: 1.1rem; }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 32vh;
    background: #222327;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 1rem;
    transition: all 0.5s ease;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); }

  .navbar a {
    display: block;
    margin: 8px 0;
    padding: 0 12px;
    transition: all 0.5s ease;
    text-align: left;
    margin-right: 14rem; }

  .navbar.active {
    right: 2%; }

  #home h4 {
    font-size: 2.5rem; }

  #home p {
    font-size: 1rem; } }
.dashboard-header {
  font-family: "Ubuntu", sans-serif; }

.nav-links {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif; }

.main-wrap {
  width: 100%;
  display: flex; }

.main-wrap .main-head {
  max-width: 9.5rem;
  height: 100vh;
  background: #01003d;
  transition: 0.3 ease-in;
  position: fixed;
  overflow: hidden; }

.main-wrap .main-head .main-nav {
  width: 100%; }

.main-wrap .main-head .main-nav .dashboard-navbar {
  width: 100%; }

.main-wrap .main-head .main-nav .dashboard-navbar .navbar-nav .title {
  padding: 15px 19px;
  border-bottom: 1px solid #222327; }

.main-wrap
.main-head
.main-nav
.dashboard-navbar
.navbar-nav
.title
.dashboard-header {
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  color: #222;
  position: relative; }

.main-wrap
.main-head
.main-nav
.dashboard-navbar
.navbar-nav
.title
.dashboard-header
.title-text {
  position: absolute;
  left: 35px;
  opacity: 1;
  transition: 0.2 ease; }

.main-wrap .main-head .main-nav .dashboard-navbar .navbar-nav .nav-list {
  margin: 0;
  padding: 10px 10px; }

.main-wrap
.main-head
.main-nav
.dashboard-navbar
.navbar-nav
.nav-list
.nav-list-item {
  padding: 10px 15px;
  list-style: none;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background: #01003d; }

.main-wrap
.main-head
.main-nav
.dashboard-navbar
.navbar-nav
.nav-list
.nav-list-item:hover {
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); }

.main-wrap
.main-head
.main-nav
.dashboard-navbar
.navbar-nav
.nav-list
.nav-list-item {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  position: relative; }

.welcome {
  display: flex; }

.content-text {
  margin-top: 2rem;
  font-family: "Lobster", cursive;
  color: #222327; }

.admin-img {
  margin: 1rem 1rem;
  height: 4rem; }

.active span {
  text-decoration: underline; }

.main-section {
  width: 100rem;
  margin-left: 10rem; }

.n-table {
  max-width: 1400px; }

.move-left {
  margin-left: 10rem; }

.alert-box {
  height: 7.5vh;
  width: 100%;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.message-box {
  margin-left: 10rem; }

.search-container {
  width: 75%;
  margin-left: 8rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.login-theme {
  background: #001923; }

.home-section {
  background: url("../imgs/homepage-frontofschool2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }
  .home-section-black-fill {
    background: rgba(0, 0, 0, 0.75);
    min-height: 100vh; }

.welcome-text {
  min-height: 80vh; }

.welcome-text img {
  width: 10rem; }

.welcome-text h4 {
  color: #eeeeee;
  font-size: 4rem;
  font-family: "Lobster", cursive; }

.nav-glass {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 1000; }

.welcome-text p {
  color: #fff;
  font-family: "Lobster", cursive;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 5px;
  border-radius: 4px; }

#about {
  min-height: 100vh; }

#about .card-1 {
  max-width: 600px;
  width: 90%;
  padding: 2rem;
  border-radius: 5px; }

.about-box {
  height: 40vh;
  width: 75%;
  padding: 0 24px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px); }

.about-box h1 {
  font-family: "Lobster", cursive; }

.section-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem; }

@media (max-width: 880px) {
  .about-box {
    height: 60vh; } }
.service-section {
  position: relative;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.service-box h4 {
  color: #fff;
  font-size: 2rem;
  font-family: "Lobster" cursive;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "Lobster", cursive; }

@media (max-width: 1280px) {
  .service-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
.service-section .box {
  position: relative;
  min-width: 400px;
  height: 300px;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 13px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px); }

.service-section .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffc533;
  transition: 0.5s;
  z-index: 1; }

.service-section .box:hover .icon {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%; }

.service-section .box .icon .service-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff; }

.service-section .box:hover .icon .service-icon {
  font-size: 40px; }

.service-section .box .service-content {
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0; }

.service-section .box:hover .service-content {
  top: 80px;
  opacity: 1; }

.service-section .box .service-content h3 {
  font-family: "Lobster", cursive;
  font-size: 24px;
  margin: 0 0 10px;
  padding: 0;
  color: #fff; }

.service-section .box .service-content p {
  margin: 0;
  padding: 0;
  color: #fff; }

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 6rem;
  padding: 2rem;
  width: 100%;
  background: #001923; }

.contact-section::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ffeb3b, #e91e63);
  border-radius: 50%;
  transform: translate(-400px, -180px); }

.contact-section::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(#2196f3, #83d8ff);
  border-radius: 50%;
  transform: translate(400px, 180px); }

.contact-box {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px); }

.contact-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  transform: skewX(-15deg); }

.contact-box h2 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 2rem;
  font-family: "Lobster", cursive; }

.contact-box .row1 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }

.contact-box .row1 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px; }

.contact-box .row1 .col .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff; }

.contact-box .row1 .col .input-box input,
.contact-box .row1 .col .input-box textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: #000; }

.contact-box .row1 .col .input-box .contact-text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none; }

.contact-box .row1 .col .input-box input:focus ~ .contact-text,
.contact-box .row1 .col .input-box input:valid ~ .contact-text,
.contact-box .row1 .col .input-box textarea:focus ~ .contact-text,
.contact-box .row1 .col .input-box textarea:valid ~ .contact-text {
  top: -35px;
  left: -10px; }

.contact-box .row1 .col .input-box .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none; }

.contact-box .row1 .col .input-box input:focus ~ .line,
.contact-box .row1 .col .input-box input:valid ~ .line {
  height: 100%; }

.contact-box .row1 .col .input-box textarea:focus ~ .line,
.contact-box .row1 .col .input-box textarea:valid ~ .line {
  height: 100%; }

@media (max-width: 768px) {
  .contact-section::before {
    transform: translate(-200px, -180px); }

  .contact-section::after {
    transform: translate(200px, 180px); } }

/*# sourceMappingURL=style.css.map */
