.n-table {
  max-width: 1400px;
}

.move-left {
  margin-left: 10rem;
}

.alert-box {
  height: 7.5vh;
  width: 100%;
  margin-left: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-box {
  margin-left: 10rem;
}

.search-container {
  width: 75%;
  margin-left: 8rem;
}
