@import "external.scss";
@import "nav.scss";
@import "components.scss";
@import "responsive.scss";
@import "dashboard.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  // background: #001923;
}

.login-theme {
  background: #001923;
}

.home-section {
  background: url("../imgs/homepage-frontofschool2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  &-black-fill {
    background: rgba(0, 0, 0, 0.75);
    min-height: 100vh;
  }
}

.welcome-text {
  min-height: 80vh;
}

.welcome-text img {
  width: 10rem;
}

.welcome-text h4 {
  @include heading(#eeeeee, 4rem);
}
.nav-glass {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 1000;
}

.welcome-text p {
  color: #fff;
  font-family: "Lobster", cursive;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 5px;
  border-radius: 4px;
}

#about {
  min-height: 100vh;
}

#about .card-1 {
  max-width: 600px;
  width: 90%;
  padding: 2rem;
  border-radius: 5px;
}

// ///////////////////////////////////////////
.about-box {
  height: 40vh;
  width: 75%;
  padding: 0 24px;
  @include glassLayout();
}

.about-box h1 {
  font-family: "Lobster", cursive;
}

.section-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

@media (max-width: 880px) {
  .about-box {
    height: 60vh;
  }
}
// ////////////////////////////////////////////
.service-section {
  position: relative;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-box h4 {
  @include sectionHeading($text-color, 2rem);
  font-family: "Lobster", cursive;
}

@media (max-width: 1280px) {
  .service-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.service-section .box {
  position: relative;
  min-width: 400px;
  height: 300px;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 13px;
  @include glassLayout();
}

.service-section .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $main-color;
  transition: 0.5s;
  z-index: 1;
}

.service-section .box:hover .icon {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.service-section .box .icon .service-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
}

.service-section .box:hover .icon .service-icon {
  font-size: 40px;
}

.service-section .box .service-content {
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.service-section .box:hover .service-content {
  top: 80px;
  opacity: 1;
}

.service-section .box .service-content h3 {
  font-family: "Lobster", cursive;
  font-size: 24px;
  margin: 0 0 10px;
  padding: 0;
  color: $text-color;
}

.service-section .box .service-content p {
  margin: 0;
  padding: 0;
  color: $text-color;
}

// ////////////////////////////////////////////
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 6rem;
  padding: 2rem;
  width: 100%;
  background: #001923;
}

.contact-section::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ffeb3b, #e91e63);
  border-radius: 50%;
  transform: translate(-400px, -180px);
}

.contact-section::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(#2196f3, #83d8ff);
  border-radius: 50%;
  transform: translate(400px, 180px);
}

.contact-box {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.contact-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  transform: skewX(-15deg);
}

.contact-box h2 {
  width: 100%;
  text-align: center;
  color: $text-color;
  font-size: 3.6rem;
  margin-bottom: 2rem;
  font-family: "Lobster", cursive;
}

.contact-box .row1 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.contact-box .row1 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}

.contact-box .row1 .col .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}

.contact-box .row1 .col .input-box input,
.contact-box .row1 .col .input-box textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.contact-box .row1 .col .input-box .contact-text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.contact-box .row1 .col .input-box input:focus ~ .contact-text,
.contact-box .row1 .col .input-box input:valid ~ .contact-text,
.contact-box .row1 .col .input-box textarea:focus ~ .contact-text,
.contact-box .row1 .col .input-box textarea:valid ~ .contact-text {
  top: -35px;
  left: -10px;
}

.contact-box .row1 .col .input-box .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: $text-color;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.contact-box .row1 .col .input-box input:focus ~ .line,
.contact-box .row1 .col .input-box input:valid ~ .line {
  height: 100%;
}

.contact-box .row1 .col .input-box textarea:focus ~ .line,
.contact-box .row1 .col .input-box textarea:valid ~ .line {
  height: 100%;
}

@media (max-width: 768px) {
  .contact-section::before {
    transform: translate(-200px, -180px);
  }
  .contact-section::after {
    transform: translate(200px, 180px);
  }
}
